html {
    height: 100%;
    width: 100%;
    margin: 0 auto !important;
}

.isw-error {
    position: relative;
    min-height: 100vh;

    @extend %isw-dFlex;

    @extend %columnCenter;

    @extend %alignItemCenter;

    .isw-image {
        width: calc(100% - 2rem);
    }

    .isw-error-wrapper {
        text-align: center;
        margin: 0 auto;
    }

    .err-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }
}
