.isw-error {
  position: relative;
  min-height: 100vh;
  @extend %isw-dFlex;
  @extend %columnCenter;
  @extend %alignItemCenter;
  .isw-error-wrapper {
    @include media-breakpoint-up(md) {
      padding: 3rem;
    }
    text-align: center !important;
    padding: 2rem;
  }
}
