.isw-nav--header {
  background: $white;
  border-bottom: 1px solid #dadce0;
  display: block;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  -webkit-transition: box-shadow 250ms;
  transition: box-shadow 250ms;
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
  z-index: 986;
  .isw-nav--pad {
    @extend %isw-dFlex;
    @extend %isw-borderBox;
    @extend %isw-spaceBtwn;
    @extend %isw-minWidth;
    align-items: center;
    padding: .7rem 2rem;
    background-color: $primary;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    position: relative;
    width: 100%;
    color: $white;
    .isw-logo-menu {
      position: relative;
      .isw-nav-logo {
        @include media-breakpoint-up(lg) {
          display: block;
        }
        display: none;
      }
      .isw-nav-button {
        @include media-breakpoint-up(lg) {
          opacity: .1;
          display: none;
        }
        opacity: 1;
        display: block;
        .menu-btn {
          background: transparent;
          -webkit-font-smoothing: antialiased;
          font-size: .875rem;
          font-weight: 500;
          letter-spacing: .08929em;
          text-decoration: none;
          text-transform: uppercase;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          will-change: transform,opacity;
          padding: 0 16px;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: none;
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-appearance: none;
          overflow: hidden;
          vertical-align: middle;
          cursor: pointer;
          .material-icons {
            color: $white;
          }
        }
        #menu-close {
          display: none;
          &.visible {
            display: block;
          }
        }

        #menu-reveal {
          &.visible {
            display: none;
          }
        }
      }
    }
  }

}

.isw-sideBar {
  @include media-breakpoint-up(lg) {
    display: block;
    top: 60px;
  }
  transition: width 0.3s, left 0.3s;
  position: fixed;
  display: none;
  z-index: 600;
  width: 280px;
  top: 50px;
  bottom: 0;
  left: 0;
  background-color: $white;
  box-shadow: inset -1px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);
  .isw-sideBar-innerScroll {
    @include media-breakpoint-up(lg) {
      overflow: hidden;
    }
    height: 100%;
    width: 100%;
    overflow: auto;
    .isw-sideBar--wrapper {
      display: -webkit-flex;
      display: flex;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-flex-direction: column;
      flex-direction: column;
      overflow-y: auto;
      .isw-sideBar-mobile-logo {
        @include media-breakpoint-up(lg) {
          display: none;
        }
        display: block;
      }
      .isw-sideBar--linkBox {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        ul {
          list-style: none;
          margin-top: 0;
          margin-bottom: 0;
          padding: 8px 0;
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
          .isw-sideBar-ulSpan {
            padding-left: 24px;
            display: none;

            line-height: 40px;
            vertical-align: top;
            width: 176px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            min-height: 40px;
            padding-bottom: 4px;
            padding-top: 4px;
            color: rgba(0,0,0,0.87);
          }

          .isw-sideBar-li {
            padding-left: 24px;
            display: block;
            min-height: 40px;
            padding-bottom: 4px;
            padding-top: 4px;
            cursor: pointer;
            &:hover {
              background-color: $gray-200;
              border-radius: 0 25px 25px 0;
              color: #202124;
            }
            .isw-sideBar-a {
              text-decoration: none;
              display: inline-flex;
              align-items: center;
              width: 100%;
              color: inherit;
              .isw-sideBar-spanText {
                padding-left: 32px;
                display: inline-block;
                line-height: 40px;
                vertical-align: top;
                width: 176px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .accordion {
            .isw-accordion {
              padding-left: 24px;
              display: block;
              min-height: 40px;
              padding-bottom: 4px;
              padding-top: 4px;
              cursor: pointer;
              &:hover {
                background-color: $gray-200;
                border-radius: 0 25px 25px 0;
                color: #202124;
              }
              .isw-sideBar-a {
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                width: 100%;
                color: inherit;
                .isw-sideBar-spanText {
                  padding-left: 32px;
                  display: inline-block;
                  line-height: 40px;
                  vertical-align: top;
                  width: 176px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
            .isw-collapse {
              position: inherit;
              .isw-inner-ul {
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;
                padding: 8px 0;
                .isw-inner-li {
                  padding-left: 24px;
                  display: block;
                  min-height: 30px;
                  padding-bottom: 2px;
                  padding-top: 2px;
                  cursor: pointer;
                  &:hover {
                    color: $red;
                  }
                  .isw-sideBar-a {
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    width: 100%;
                    color: inherit;
                    .isw-sideBar-spanText {
                      padding-left: 57px;
                      display: inline-block;
                      line-height: 40px;
                      vertical-align: top;
                      width: 176px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
            .show {
              border-bottom: 1px solid $border-color;
            }
          }

          .isw-sideBar-liActive {
            background-color: rgba($primary, .3);
            -webkit-border-radius: 0 25px 25px 0;
            border-radius: 0 25px 25px 0;
            color: #202124;
            letter-spacing: .01785714em;
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}

#side-nav {
  @include media-breakpoint-down(md) {
    &.visible {
      display: block;
    }
  }
}

#side-nav-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  opacity: .1;
  visibility: hidden;
  z-index: 2;
  transition: all 300ms cubic-bezier(.4,0,.2,1);
  transform: translateZ(0);

  &.visible {
    transition-delay: 0;
    visibility: visible;
    opacity: 1;
  }
}