$isw-pColor: rgba(0,0,0,0.70);
$isw-p2Color: rgba(0,0,0,0.60);
$isw-borderColor: #DBDBDB;

$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$h1-font-size-lg: 30px;
$h1-font-size-md: 16px;
$h1-font-size-sm: 17px;
$h1-font-size-xs: 16px;

$h3-font-size-lg: 18px;
$h3-font-size-md: 16px;
$h3-font-size-sm: 17px;
$h3-font-size-xs: 16px;

$paragraph-font-size-lg: 16px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 16px;
$paragraph-font-size-xs: 16px;

html {
  font-size: $html-font-size-lg;
  line-height: 23px;
  @media (max-width: 1024px) {
    font-size: $html-font-size-md;
  }
  @media (max-width: 640px) {
    font-size: $html-font-size-sm;
  }
  @media (max-width: 480px) {
    font-size: $html-font-size-xs;
  }
}

body {
  background-color: #fff;
  color: rgba(0,0,0,0.70);
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

h1 {
  font-size: $h1-font-size-lg;

  @media (max-width: 1024px) {
    font-size: $h1-font-size-md;
  }
  @media (max-width: 640px) {
    font-size: $h1-font-size-sm;
  }
  @media (max-width: 480px) {
    font-size: $h1-font-size-xs;
  }
}

h3 {
  font-size: $h3-font-size-lg;
  @media (max-width: 1024px) {
    font-size: $h3-font-size-md;
  }
  @media (max-width: 640px) {
    font-size: $h3-font-size-sm;
  }
  @media (max-width: 480px) {
    font-size: $h3-font-size-xs;
  }
}

p {
  font-size: $paragraph-font-size-lg;
  @media (max-width: 1024px) {
    font-size: $paragraph-font-size-md;
  }
  @media (max-width: 640px) {
    font-size: $paragraph-font-size-sm;
  }
  @media (max-width: 480px) {
    font-size: $paragraph-font-size-xs;
  }
}

p {
  line-height: 19px;
  font-size: 16px;
  color: rgba(0,0,0,0.70);
  letter-spacing: 0.29px;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: darken($primary, 10);
  }
}

button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

input[type=file] {
  width: 100%;
}

%isw-dFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
%displayInlineFlex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
%alignItemCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
%columnCenter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
%transition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
%isw-spaceBtwn {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
%isw-minWidth {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
  min-width: min-content;
}
%isw-borderBox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
%imageCover {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.isw-p {
  font-size: 16px;
  color: $isw-pColor;
  letter-spacing: 0.29px;
}

.isw-p2 {
  font-size: 14px;
  color: $isw-p2Color;
  letter-spacing: 0.15px;
  line-height: 16px;
}

.isw-subtitle {
  font-size: 16px;
  color: $black;
  letter-spacing: 0.29px;
  margin-bottom: 0;
}

.isw-image {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
  left: 0;
  img {
    @extend %imageCover;
    width: 100%;
  }
}

// Extends

button:focus {
  outline: 0;
}

.isw-divider {
  border-top: 1px solid $gray-300;
  clear: both;
}

.isw-hoverClick {
  cursor: pointer;
  &:hover {
    background: $gray-300;
  }
}

// ISW Table
.isw-table {
  position: relative;
  .isw-table--head {
    position: relative;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    .isw-table--headLi {
      position: relative;
      background: transparent;
      padding: 1rem 2rem;
      .isw-table--headItem {
        font-size: 15px;
        font-weight: 500;
        color: rgba(0,0,0,0.50);
        letter-spacing: 0.27px;
      }
    }
  }

  .isw-table--body {
    position: relative;
    padding: 0;
    list-style: none;
    .isw-table--bodyLi {
      position: relative;
      background: $white;
      border: 1px solid $isw-borderColor;
      transform: scale(1);
      z-index: 1;
      &:hover:not(.no-hover) {
        transform: scale(1.02);
        border: 1px solid rgba($primary, .7);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        z-index: 2;
      }
      .isw-table--bodyA {
        padding: .7rem 2rem;
      }
      .isw-table--bodyItem-img {
        @extend %isw-dFlex;
      }
    }
    .no-hover {
      position: inherit;
      &:hover {
        background-color: rgba($primary, .3);
      }
    }
  }
}

.pagination {
  .page-item.active .page-link {
    background-color: $primary;
    border-color: $primary;
  }
  .page-link {
    color: $primary;
  }
}

.isw-modal {
  border-top: .1rem solid $primary !important;
}

.isw-card {
  background: $white;
  border: 1px solid #DBDBDB;
  position: relative;
  @extend %isw-dFlex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.isw-card-header {
  position: relative;
  .isw-card-h3 {
    font-size: 14px;
    color: rgba(0,0,0,0.80);
    letter-spacing: 0.25px;
    line-height: 1.7;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .isw-card-p {
    font-size: 14px;
    color: rgba(0,0,0,0.50);
    letter-spacing: 0.25px;
    line-height: 19px;
  }
}

// Input Field
$animation-duration: 0.2s;
@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-12px);
  font-weight: 500;
}

.isw-label-active {
  font-size: 0.75rem !important;
  transform: translateY(-12px);
  font-weight: 500 !important;
  cursor: text;
  color: $primary;
}

.isw-input-error {
  background-color: rgba($danger, .1) !important;
  &:after {
    border-bottom: 2px solid $danger !important;
  }
  .form-field__input {
    border-bottom: 2px solid $danger;
  }
}

.form-field {
  display: block;
  margin-bottom: 16px;
  cursor: text;

  &--is-active {
    .form-field__control {
      background: darken($iswLight1, 10);
      &::after {
        border-bottom: 2px solid $primary;
        transform: scaleX(150);
      }
    }
    .form-field__label {
      cursor: text;
      color: $primary;
      @include label-active();
    }
  }
  &--is-filled {
    .form-field__label {
      @include label-active();
    }
  }
}
.form-field__label {
  display: block;
  font-size: 1em;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0 ;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
  cursor: text;
}
.form-field__control {
  background: $iswLight1;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    border-bottom: 2px solid $primary;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
}
.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
  color: $gray-900;
  display: block;
  font-size: 1em;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
  &:hover {
    border-bottom: 1px solid rgba(0,0,0,.72);
  }
}
.form-field__textarea {
  height: 150px;
}

// checkbox
.checkbox label{
  display: inline;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
}
.checkbox input{
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}
.checkbox {
  display: inline-block;
  //margin: .5rem 2rem 1rem 0;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: $primary;
  display: block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: $primary;
}
.checkbox input:checked ~ .helper {
  color: $primary;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}
.checkbox + .checkbox {
  //margin-top: 1rem;
}

/* select starting stylings ------------------------------*/
.form-select {
  position: relative;
  display: block;
  margin-bottom: 16px;
  cursor: text;
  width: 100%;
}
.select-text {
  //appearance: none;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
  color: $gray-900;
  display: block;
  font-size: 1em;
  outline: 0;
  background: $iswLight1;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 24px 12px 10px 12px;
  &:focus {
    background: darken($iswLight1, 10);
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
  &:hover {
    border-bottom: 1px solid rgba(0,0,0,.72);
  }
  &::after {
    border-bottom: 2px solid $primary;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
}

.isw-select-error {
  background-color: rgba($danger, .1);
}
/* Remove focus */
/* Use custom arrow */
.form-select {
  .select-text {
    color: $gray-900;
    appearance: none;
    -webkit-appearance: none;
  }
  &:after {
    position: absolute;
    top: 30px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
  }
}
/* LABEL ======================================= */
.select-label {
  pointer-events: none;
  top: 0;
  display: block;
  font-size: 1em;
  font-weight: normal;
  left: 0;
  color: $gray-900;
  margin: 0;
  padding: 18px 12px 0 ;
  position: absolute;
  transition: all $animation-duration;
  width: 100%;
  cursor: text;
}
/* active state */
.select-text {
  color: $gray-900;
  &:focus ~ .select-label, &:valid ~ .select-label {
    color: $primary;
    top: 0;
    font-size: 0.75rem;
    transform: translateY(-12px);
    font-weight: 500;
  }
}
/* BOTTOM BARS ================================= */
.select-bar {
  position: relative;
  display: block;
  width: 100%;
  &:before, &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $primary;
    transition: all $animation-duration;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}
/* active state */
.select-text:focus ~ .select-bar {
  &:before, &:after {
    width: 50%;
  }
}
/* HIGHLIGHTER ================================== */
.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.isw-btn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  will-change: transform,opacity;
  padding: 0 16px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
  &:before {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    -webkit-transition: opacity 15ms linear,background-color 15ms linear;
    -o-transition: opacity 15ms linear,background-color 15ms linear;
    transition: opacity 15ms linear,background-color 15ms linear;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
  }
  &:after {
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
  }
}
.isw-btn--outlined {
  border: 1px solid $primary;
}
.isw-btn--raised {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
  -o-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1),
  -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
  &:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  }
}

.isw-user-assign {
  position: fixed;
  bottom: 0;
  background: $white;
  padding: 2rem;
  z-index: $zindex-fixed;
}