* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Roboto',arial,sans-serif;
  outline: none !important;
  &:focus {
    outline: none !important;
  }

  &::-webkit-scrollbar {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
    height: 16px;
    overflow: visible;
    width: 16px;
  }
  &::-webkit-scrollbar-button {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
    height: 0;
    width: 0;
  }
  &::-webkit-scrollbar-corner {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
    background-color: rgba(0, 0, 0, 0.11);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  }
  &::-webkit-scrollbar-track {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
  }
}

.ds-align--center {
  @extend %alignItemCenter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.isw-valign--middle {
  @extend %isw-dFlex;
  @extend %columnCenter;
}

.isw-login {
  position: relative;
  header {
    display: block;
    padding: 1rem 0 2rem;
  }
  .isw-column--left {
    @include media-breakpoint-up(lg) {
      height: 100vh;
      padding: 3rem 3rem 2rem;
      min-height: 100vh;
      display: -webkit-flex;
      display: flex !important;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      background: $darkPurple;
      -webkit-flex-direction: column;
      flex-direction: column;
      color: rgba($white, .9);
      .isw-column--left-top {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
      }
      .isw-column--left-base {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        p, h3 {
          color: inherit;
        }
      }
    }
    padding: inherit;
    display: none !important;
  }
  .isw-login--middle {
    height: 100%;
    max-height: 100vh;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: $white;
    -webkit-flex-direction: column;
    flex-direction: column;
    .isw-login--middle-form {
      height: 100%;
      overflow-y: auto;
      padding: 3rem 0 5rem;
      .isw-login--infoWrongDetails {
        background: rgba($red,0.10);
        border: 1px solid $red;
        padding: 1rem;
      }
    }
    .isw-login--userType {
      margin: 0 0 3rem;
      .btn-group-toggle {
        display: flex;
        justify-content: space-between;
        .btn {
          flex: 1;
          border: none;
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-appearance: none;
          overflow: hidden;
          vertical-align: middle;
          border-radius: 4px;
          height: 3rem;
          cursor: pointer;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: .875rem;
          line-height: 2.25rem;
          font-weight: 500;
          letter-spacing: .08929em;
          text-decoration: none;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          will-change: transform,opacity;
          padding: 0 16px;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &:focus {
            outline: 0 !important;
          }
          &:nth-child(2) {
            margin: 0 1rem;
          }
        }
        .btn-secondary {
          background: $white;
          border: $border-width solid $border-color;
          font-size: 16px;
          color: #4A4A4A;
          letter-spacing: 0.29px;
          text-align: center;
        }
        .active {
          background: $primary;
          color: $white;
        }
      }
    }
    .isw-login--infoBox {
      background: rgba($green,0.10);
      border: 1px solid $green;
      padding: 1rem;
    }
  }
}

.isw-admin {
  position: relative;
}
.isw-mainLayout1 {
  @include media-breakpoint-up(lg) {
    padding-left: 280px;
  }
  background: $iswLight2;
  transition: padding-left 0.3s;
  .isw-content--wrapper {
    width: 100%;
    transition: padding 0.3s;
    margin-top: 60px;
    padding-bottom: 100px;
    padding-top: 3rem;
    min-height: calc(100vh - 3rem);
  }
  .container-limited {
    max-width: 65rem;
  }
}

.isw-permission {
  position: inherit;
  min-height: 80vh;
  .isw-permission-name {
    .active {
      background: rgba($primary, .2);
      border: 0;
      color: $primary;
    }
  }
  .isw-permission-list {
    background: $light;
    padding: 2rem 1rem;
    .isw-permission-item-right {
      @extend %isw-dFlex;
      padding: .5rem 0 0;
      border-bottom: $border-width solid $border-color;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.isw-user-permission-action {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 25rem;
  .isw-user-permission-btn {
    @include media-breakpoint-up(md) {
      padding: 1rem 2rem;
    }
    border: $border-width solid $border-color;
    background: $white;
    padding: 2rem;
    //display: block;
    z-index: $zindex-fixed;
  }
}
