.isw-login {
  position: relative;
  header {
    display: block;
    padding: 1rem 0 2rem;
  }
  .isw-column--left {
    height: 100vh;
    padding: 3rem 3rem 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: $primary;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    color: rgba($white, .9);
    .isw-column--left-top {
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
    }
    .isw-column--left-base {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      p, h3 {
        color: inherit;
      }
    }
  }
  .isw-login--middle {
    height: 100%;
    max-height: 100vh;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: $white;
    -webkit-flex-direction: column;
    flex-direction: column;
    .isw-login--middle-form {
      height: 100%;
      overflow-y: auto;
      padding: 3rem 0 5rem;
    }
    .isw-login--userType {
      margin: 0 0 3rem;
      .btn-group-toggle {
        display: flex;
        justify-content: space-between;
        .btn {
          flex: 1;
          border: none;
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-appearance: none;
          overflow: hidden;
          vertical-align: middle;
          border-radius: 4px;
          height: 3rem;
          cursor: pointer;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: .875rem;
          line-height: 2.25rem;
          font-weight: 500;
          letter-spacing: .08929em;
          text-decoration: none;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          will-change: transform,opacity;
          padding: 0 16px;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &:focus {
            outline: 0 !important;
          }
          &:nth-child(2) {
            margin: 0 1rem;
          }
        }
        .btn-secondary {
          background: $white;
          border: $border-width solid $border-color;
          font-size: 16px;
          color: #4A4A4A;
          letter-spacing: 0.29px;
          text-align: center;
        }
        .active {
          background: $primary;
          color: $white;
        }
      }
    }
    .isw-login--infoBox {
      background: rgba($green,0.10);
      border: 1px solid $green;
      padding: 1rem;
    }
  }
  .isw-column--right {
    height: 100vh;
    padding: 3rem 3rem 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: $primary;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    color: rgba($white, .9);
  }
}