
@mixin box-shadow($x, $y, $blur, $c) {
    /*
    $x is value for horizontal
    $y is value for vetical
    $blur is value for blur
    $c is the color
    */
    -webkit-box-shadow: $x $y $blur $c;
    -moz-box-shadow: $x $y $blur $c;
    -ms-box-shadow: $x $y $blur $c;
    box-shadow: $x $y $blur $c;
}


@mixin break($args...) {
    @if length($args)==1 {
        @media all and (min-width: nth($list: $args, $n: 1)) {
            @content;
        }
    }
    @else {
        @media all and (min-width: nth($list: $args, $n: 1)) and (max-width: nth($list: $args, $n: 2)) {
            @content;
        }
    }
}

// Small devices
@mixin sm {
   @media (min-width: #{$s-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$s-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$s-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$s-xl-min}) {
       @content;
   }
}