@import "variables";

.container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #89243A;

    .mobile {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 0 60px;

        span {
            margin: 10px 0;
            color: rgba(255, 255, 255, 0.7);
            padding: 10px;

            font-size: 16px;
            background: rgba(255, 255, 255, 0.1);
        }

        .central {
            display: flex;
            width: fit-content;
            height: 40px;
            flex-direction: column;
            background: #fff;
            border-radius: 5px;
            color: #000;
            align-items: center;
            justify-content: space-around;

            .earn {
                color: #89243A;
            }
        }
    }

    .web {
        width: 648px;
        height: 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        position: relative;

        .central {
            display: flex;
            width: 184px;
            height: 90px;
            flex-direction: column;
            background: #fff;
            border-radius: 5px;
            color: #000;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            left: calc(50% - 92px);
            right: calc(50% - 92px);

            .earn {
                color: #89243A;
            }
        }
    }

    section {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        svg {
            width: 200px;
        }

        h1 {
            margin: 16px auto;
            text-align: center;
            width: 90%;
            color: $pri-color;
        }

        span {
            margin: 24px 0 0;

            a {
                color: $sec-color;
                cursor: pointer;
            }
        }
    }
}
