@import "variables";

button.dot:disabled {
    color: white;
    cursor: not-allowed;
    font-weight: 500;
}

.dot span {
    animation: blink 0.5s infinite both;
}

.dot span:nth-child(2) {
    animation-delay: .2s;
}

.dot span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.validate-cont {
    display: none;
}

.validate-cont.visible {
    margin: -12px 0 8px;
    display: flex;
    flex-direction: column;
    animation: slide-in .4s ease-in-out;

    .validate {
        padding: 0 0 0 20px;

        p {
            margin: 0;
            padding: 1px 0;
            font-size: 1rem;

            &:before {
                content: '\2713';
                margin: 0 5px 0 0;
                color: black;
            }
        }

        .red {
            color: rgba(#ee312a, 0.52);

            &:before {
                content: '\2713';
                margin: 0 5px 0 0;
                color: #ee312a;
            }
        }

        .met {
            margin: 0;
            padding: 1px 0;
            font-size: 1rem;
            color: rgba(#3bb75e, 0.52);

            &:before {
                content: '\2713';
                margin: 0 5px 0 0;
                color: #3bb75e;
            }
        }
    }
}

p {
    padding: 20px 0;
    font-size: 1rem;
    text-align: left;
    margin: -16px 0 16px;

    &.forgot {
        padding: 0;
        text-align: right;
        margin: -16px 0 40px;
    }

    span.color > a {
        color: #5450F7;

        &:hover {
            color: #5450F7;
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}
