@import "variables";

html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    font-family: sans-serif;
}

html,
body,
ul,
li,
form,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

fieldset,
img {
    border: 0;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    outline: none;
    border-radius: 2px;
    border: 0;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

.current {
    color: $sec-color;
}

/*# sourceMappingURL=reset.css.map */
