@import "variables";
// Positioning
.absolute-zero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.pos-f {
    position: fixed;
    &.fixed-to-top {
        top: 0;
        right: 0;
        left: 0;
    }
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

//Others
.extra {
    color: #fff;
    font-size: $nanofont;
    font-weight: 100;
    @media screen and (max-width: 324px) {
        font-size: 0.600rem ;
    }
    @media screen and (max-width: 364px) {
        font-size: 0.630rem;
    }
    @media screen and (max-width: 384px) {
        font-size: 0.730rem;
    }
}

.hid-btn {
    display: none;
}

.hid-btn2 {
    display: none;
    margin-left: 20px;
}

.btnf {
    margin-left: 80px ;
    @media screen and (max-width: 322px) {
        margin-left: 0 ;
    }
    @media screen and (max-width: 384px) {
        margin-left: 40px ;
    }
    @media screen and (max-width: 414px) {
        margin-left: 0 ;
    }
    @media screen and (device-width: 1024px) and (max-height: 829px) {
        width: 95%;
        margin-left: 10px ;
    }
}


.csr{
    cursor: pointer;
}
// Display
.d-blk {
    display: block;
}

.d-ibl {
    display: inline-block;
}

.d-flx {
    display: flex;
}

.d-flx-c {
    display: flex;
    flex-direction: column;
}

.d-grd {
    display: grid;
}

.flx-1 {
    flex: 1;
}

.flx-1-5 {
    flex: 1.5;
}

.flx-1-8 {
    flex: 1.8;
}

.flx-2 {
    flex: 2;
}

.flx-2-5 {
    flex: 2.5;
}

.flx-3 {
    flex: 3;
}

.flx-7 {
    flex: 7;
}

.flx-7-5 {
    flex: 7.5;
}

.flx-dir-col {
    flex-direction: column;
}

.d-ifx {
    display: inline-flex;
}

.al-i-fs {
    align-items: flex-start;
}

.al-i-c {
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

.j-c-sb {
    justify-content: space-between;
}

.j-c-fe {
    justify-content: flex-end;
}

.space-between-groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



// Margins
// .m-0 {
//     margin:             0
// }
// .my-1 {
//     margin-top:         1rem;
//     margin-bottom:      1rem;
// }
// .mt-0
//     margin-top:         0
// .mt-1
//     margin-top:         1rem
// .mt-1h
//     margin-top:         1.5rem
// .mt-2
//     margin-top:         2rem
// .mt-2h
//     margin-top:         2.5rem
// .mt-3
//     margin-top:         3rem
// .mx-auto
//     margin-right:       auto
//     margin-left:        auto
// .mr-h
//     margin-right:       0.5rem
// .mr-1
//     margin-right:       1rem
// .mb-0
//     margin-bottom:      0
// .mb-p
//     margin-bottom:      $basefont
// .mb-hh
//     margin-bottom:      0.25rem
// .mb-h
//     margin-bottom:      0.5rem
// .mb-1
//     margin-bottom:      1rem
// .mb-1hh
//     margin-bottom:      1.25rem
// .mb-1h
//     margin-bottom:      1.5rem
// .mb-2
//     margin-bottom:      2rem
// .mb-3
//     margin-bottom:      3rem
// .ml-auto
//     margin-left:        auto
// // Paddings
// .p-h
//     padding:            0.5rem
// .p-1
//     padding:            1rem
// .py-h
//     padding-top:        0.5rem
//     padding-bottom:     0.5rem
// .py-1
//     padding-top:        1rem
//     padding-bottom:     1rem
// .pt-0
//     padding-top:        0
// .pt-h
//     padding-top:        0.5rem
// .pt-1
//     padding-top:        1rem
// .pt-1h
//     padding-top:        1.5rem
// .pt-2
//     padding-top:        2rem
// .pb-hh
//     padding-bottom:     0.25rem
// .pb-h
//     padding-bottom:     0.5rem
// .pb-1
//     padding-bottom:     1rem
// .pb-1h
//     padding-bottom:     1.5rem
// .pb-2
//     padding-bottom:     2rem
// .pb-2h
//     padding-bottom:     2.5rem